@media all and (max-width: 1171px) {
    .section-workers {
        & .worker {
            width: 350px;
            height: 430px;
        }
    }
    .worker-feedback {
        width: 300px;
        height: 230px;
        & .worker-name {
            font-size: 18px;
            margin-top: 0;
        }
        & .worker-position {
            font-size: 14px;
            margin-top: 0;
        }
    }
}
@media all and (max-width: 1160px) {
    .gallery-works {
        justify-content: center;
        & .work {
            width: 44%;
            height: auto;
            margin-right: 15px;
            margin-bottom: 15px;
            a{
                padding-top: 100%;
                display: block;
                position: relative;
            }
            picture {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
    }
}

@media all and (max-width: 1100px) {
    .preview {
        & .description {
            & .close-btn {
                left: 25px;
                bottom: 20px;
            }
        }
    }
    .section-workers {
        & .worker {
            width: 295px;
            height: 390px;
        }
    }
     .worker-feedback {
        width: 250px;
        height: 215px;
        padding: 25px 20px;
        & .worker-name {
            font-size: 16px;
        }
        & .worker-position {
            font-size: 13px;
        }
        & .feedback {
            font-size: 14px;
        }
    }
}
@media all and (max-width: 1016px) {
    h1 {
        & .akcent {
            left: 8%;
        }
    }
    .swiper-container {
        & .swiper-pagination-bullets {
            bottom: 20px;
        }
    }
    .slider-bg {
        &::after {
        width: 100%; 
        }   
    }
    .preview {
        & .description {
            padding: 15px 50px;
            h4 {
                margin-bottom: 15px;
            }
        }
    } 
    .image-bg {
        width: 36%;
    }
    .characteristic-slider {
        & .slick-prev {
            left: 85%;
        }
    }
    .logo-next li {
        margin-right: 45px;
    }
}
@media all and (max-width: 991px) {
    h1 {
        & .top-akcent {
            right: 17%;
        }
    }    
}
@media all and (max-width: 978px) {
    h1 {
        & .top-akcent {
            right: 15%;
        }
        & .akcent {
            left: 7%;
        }
    }    
}
@media all and (max-width: 955px) {
    h1 {
        & .akcent {
            left: 6%;
        }
    }    
}
@media all and (max-width: 940px) {
    h1 {
        & .top-akcent {
            right: 15%;
        }
        & .akcent {
            left: 5%;
        }
    }
    .wr-slider {
        & .slider-bg {
            width: 45%;
            &::after {
                height: 75%;
            }
            & .slide-preview {
                width: 373px;
                height: 473px;
            }
        }
    }
    .wr-slider {
        & .our-description {
            max-width: 48%;
        }
    }
    .swiper-container {
        & .swiper-pagination-bullets {
            bottom: 35px;
        }
    }
    .section-workers {
        & .worker {
            width: 275px;
            height: 350px;
        }
    }
     .worker-feedback {
        height: 185px;
        ul {
            margin-bottom: 0;
        }
    }
}
@media all and (max-width: 920px) {
    h1 {
        & .top-akcent {
            right: 14%;
        }
    }       
}
@media all and (max-width: 910px) {
    h1 {
        & .akcent {
            left: 4%;
        }
    }    
}
@media all and (max-width: 895px) {
    h1 {
        & .top-akcent {
            right: 13%;
        }
        & .akcent {
            left: 3%;
        }
    }    
}
@media all and (max-width: 875px) {
    h1 {
        & .top-akcent {
            right: 12%;
        }
        & .akcent {
            left: 1%;
        }
    }
    .swiper-container {
        & .swiper-pagination-bullets {
            bottom: 30px;
        }
    }
    .wr-slider {
        & .slider-bg {
            &::after {
                height: 65%;
            }
        }
    }
    .wr-slider {
        & .our-description {
            max-width: 50%;
        }
    }
    .services-content {
        grid-template-rows: 380px repeat(2, 370px);
    }
    .section-workers {
        & .worker {
            width: 245px;
            height: 325px;
        }
    }
    .worker-feedback {
        width: 205px;
        height: 175px;
        padding: 15px 10px;
        & .worker-name {
            font-size: 14px;
        }
        & .worker-position {
            font-size: 12px;
        }
        & .feedback {
            font-size: 13px;
        }
    }   
}
@media all and (max-width: 842px) {
    .wr-about{
        padding-bottom: 50px;
    }
    .title,
    .wr-works .title,
    .wr-services .title,
    .wr-team .title {
        margin-bottom: 30px;
    }
    .wr-works,
    .wr-works {
        padding-top: 50px;
        padding-bottom: 50px;
    }
   
    .wr-slider {
        flex-direction: column;
        align-items: center;
        & .slider-bg {
            width: 90%;
            margin-bottom: 80px;
            &::after {
                width: 63%;
                height: 86%;
            }
        }
        & .our-description{
            max-width: 1000%;
            align-items: center;
            p {
                text-align: center;
            }
        }
    }
    .swiper-container {
        & .swiper-pagination-bullets {
            left: 27%;
            bottom: 41%;
        }
    }

    .preview {
        & .description {
            h4 {
            font-size: 18px; 
            } 
            p {
            font-size: 15px;    
            }  
        }
    }
    .image-bg {
        & .slide-img {
            width: 290px;
            height: 400px;
        }
    }
    .characteristic-slider {
        & .slick-dots {
            bottom: 10px;
            left: 100px;
        }
        & .slick-prev {
            left: 83%;
        }
    }
    .logo-next li {
        margin-right: 25px;
    }
}
@media all and (max-width: 825px) {
    h1 {
        & .top-akcent {
            right: 9%;
        }
        & .akcent {
            left: 13%;
        }
    }    
}
@media all and (max-width: 790px) {
    h1 {
        & .top-akcent {
            right: 7%;
        }
        & .akcent {
            left: 11%;
        }
    }
    .section-workers {
        justify-content: center;
        & .worker {
           margin-right: 20px;
        }
    }    
}
@media all and (max-width: 782px) {
    .wr-about,
    .wr-works,
    .wr-services,
    .wr-team,
    .wr-characteristic,
    .wr-clients  {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .header {
            nav {
                li {
                font-size: 18px;
            }
        }
    }
    .swiper-container {
        padding-bottom: 0;    
    }
    .wr-slider {
        & .slider-bg {
            &::after {
                width: 66%; 
            }   
        } 
    }
    
    .form-contacts {
        background-size: cover;
        padding-bottom: 30px;
        & .container-custom {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 20px;
        }
    } 
    .form {
        width: 100%;
        margin-bottom: 20px;
    } 
    .contact-map {
        width: 100%;
    } 
    .social {
        padding-bottom: 0;
        & .container-custom{
            padding-top: 10px;
        }
        & .copyright {
            text-align: center;
        }
    }                   
}
@media all and (max-width: 768px) {
    .header {
        nav {
            & .menu-box {
                width: 45%;
            }
        }
    }
    .section-workers {
        & .worker {
            height: 350px;
            img {
                object-fit: contain;
            }
        }
        & .worker-feedback {
            width: 60%;
            height: auto;
            left: 65px;
            bottom: 0;
        }
    }
}
@media all and (max-width: 750px) {
    h1 {
        & .top-akcent {
            right: 5%;
        }
        & .akcent {
            left: 9%;
        }
    } 
    .image-bg {
        & .slide-img {
            width: 275px;
            height: 390px;
        }
    }
    .characteristic-slider {
        & .slick-dots {
            bottom: 20px;
            left: 100px;
        }
        & .slick-prev {
            left: 79%;
        }
    }  
    .slide-description {
        width: 56%;
        & .description-bg {
            height: 85%;
        }
    } 
    .description-content {
        padding-top: 0;
        & .worker-description {
            font-size: 14px;
            margin-bottom: 10px;
        }
        & .worker-name {
            font-size: 18px;
        }
        & .worker-position {
            font-size: 13px;
        }
    }
    .logo-top li {
        margin-left: 0;
        margin-right: 25px;
    }
    .logo-next {
        justify-content: center;
        flex-wrap: wrap;
    }
}
@media all and (max-width: 715px) {
    h1 {
        & .top-akcent {
            right: 2%;
        }
        & .akcent {
            left: 6%;
        }
    }
    .intro-box {
        .glass-icon {
            right: 30px; 
        }
    } 
    .section-subtitle {
        text-align: center;
    } 
    .wr-slider {
        & .slider-bg {
            &::after {
            width: 72%; 
            }
        }   
    }
    .services-content {
        grid-template-rows: repeat(3, 320px);
        & .service-preview1,
        & .service-preview2,
        & .service-preview3,
        & .service-preview4,
        & .service-preview5,
        & .service-preview6 {
            padding-top: 10%;        
        }         
    }
    .preview {
        h3,
        .info-btn {
            font-size: 18px;
        }
        p{
            font-size: 14px;
        }
    }
    .preview {
        & .description {
            padding: 15px 20px;
            h4 {
                font-size: 16px;
            }
            p {
                font-size: 13px;
            }
        }
    }         
}
@media all and (max-width: 674px) {
    h1 {
        & .top-akcent {
            right: 0%;
        }
        & .akcent {
            left: 4%;
        }
    } 
    .image-bg {
        & .slide-img {
            width: 250px;
            height: 370px;
        }
        &::after {
            height: 70%;
        }
    }
    .slide-description {
        & .description-bg {
            height: 80%;
        }
    } 
    .description-content {
        & .worker-description {
            font-size: 14px;
        }
        & .worker-name {
            font-size: 16px;
        }
        & .worker-position {
            font-size: 12px;
        }
    }
    .characteristic-slider {
        & .slick-dots {
            bottom: 35px;
        }
        & .slick-prev {
            left: 78%;
            top: 88%;
        }
        & .slick-next {
            top: 88%;
        }
    }     
}

@media all and (max-width: 663px) {
    h1 {
        font-size: 40px;
        & .top-akcent {
            width: 230px;
            height: 50px;
            top: -2%;
            right: 3%;
        }
        & .akcent {
            width: 200px;
            height: 50px;
            top: 18%;
            left: 9%;
        }
    }    
}
@media all and (max-width: 635px) {
    h1 {
        & .top-akcent {
            right: 1%;
        }
        & .akcent {
            left: 7%;
        }
    } 
    .wr-slider {
        & .slider-bg {
            &::after {
                width: 82%; 
            } 
        }  
    }
    .services-content {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 320px); 
        & .service-preview1,
        & .service-preview2,
        & .service-preview3,
        & .service-preview4,
        & .service-preview5,
        & .service-preview6 {
            grid-column: 1/3; 
        }
    }
    .preview {
        & .description {
            padding: 15px 50px;
            h4 {
                font-size: 16px;
            }
            p {
                font-size: 14px;
            }
        }
    } 
    .characteristic-slider {
        & .characteristic-preview {
            flex-direction: column;
            align-items: center;
        }
        & .slick-dots {
            width: 40%;
            left: 30%;
            bottom: 42%;
        }
        & .slick-prev {
            width: 45px;
            height: 45px;
            left: 41%;
            top: 97%;
            &::before {
                height: 25px;
            }
        }
        & .slick-next {
            width: 45px;
            height: 45px;
            right: 41%;
            top: 97%;
            &::before {
                height: 25px;
            }
        }
    } 
    .image-bg {
        width: 45%;
        &::after {
            width: 125%;
            height: 75%;
            transform: translate(-50%, -58%);
        }
    }
    .slide-description {
        width: 90%;
    }    
    .description-content {
        padding-top: 40px;
        padding-bottom: 20px;
    }            
}
@media all and (max-width: 610px) {
    h1 {
        & .top-akcent {
            right: -1%;
        }
        & .akcent {
            left: 5%;
        }
    }    
}
@media all and (max-width: 600px) {
    h1 {
        font-size: 30px;
        margin-bottom: 14vh;
        & .top-akcent {
            width: 170px;
            height: 35px;
            top: 0;
            right: 10%;
        }
        & .akcent {
            width: 160px;
            height: 35px;
            top: 20%;
            left: -1%;
        }
    }
    .intro-box {
        & .glass-icon {
            height: 65px;
            width: 55px;
        } 
    }
    .section-title {  
        font-size: 30px;
    }
    .section-workers {
        flex-wrap: nowrap;
    }
}
@media all and (max-width: 580px) {
    h1 {
        & .top-akcent {
            right: 9%;
        }
        & .akcent {
            left: 12%;
        }
    }
   
    .worker-feedback {
        width: 185px;
        height: 135px;
        padding: 15px 10px;
        & .worker-name {
            font-size: 13px;
        }
        & .worker-position {
            font-size: 10px;
        }
        & .feedback {
            font-size: 12px;
        }
        ul {
            margin-top: 10px;
        }
        & .icon-facebook,
        & .icon-twitter,
        & .icon-website {
            height: 11px;
        }
        & .icon-email {
            height: 12px;
        }
    }
    .image-bg {
        width: 50%;
    }
    .characteristic-slider { 
        & .slick-prev {
            left: 40%;
        } 
    }    
}
@media all and (max-width: 555px) {
    h1 {
        & .top-akcent {
            right: 7%;
        }
        & .akcent {
            left: 12%;
        }
    } 
    .wr-slider {
        & .slider-bg {
            &::after {
            width: 95%; 
            }  
        } 
    }
    .swiper-container {
        & .swiper-pagination-bullets {
            bottom: 44%;
        }
    } 
    .section-workers {
        & .worker-feedback {
            width: 80%;
            left: 20px;
            bottom: 40px;
        }
    }
    .logo-top {
        margin: 0;
    }           
}
@media all and (max-width: 530px) {
    h1 {
        & .top-akcent {
            right: 5%;
        }
        & .akcent {
            left: 9%;
        }
    } 
    .wr-slider {
        & .slider-bg {
            &::after {
            width: 97%; 
            }  
        } 
    }
    .swiper-container {
        & .swiper-pagination-bullets {
            bottom: 51%;
        }
    } 
         
}
@media all and (max-width: 512px) {
    .header {
        nav {
            & .menu-box {
                width: 60%;
            }
        }
    }
    h1 {
        
        & .top-akcent {
            right: 3%;
        }
        & .akcent {
            left: 7%;
        }
    } 
    .wr-slider {
        & .slider-bg {
            &::after {
            width: 99%; 
            }  
        }
        & .our-description h3 {
            text-align: center;
        }    
    }
    .swiper-container {
        & .swiper-pagination-bullets {
            bottom: 52%;
        }
    } 
    
    .image-bg {
        width: 54%;
    }
    .characteristic-slider {
        & .slick-dots {
            bottom: 44%;
        } 
        & .slick-prev {
            left: 38%;
        } 
        & .slick-next {
            right: 38%;
        } 
    }  
    .logo-top,
    .logo-next {
        justify-content: space-between;
        margin-bottom: 0; 
        li {
            width: 26%;
            margin-right: 0;
        }
    }  
}

@media all and (max-width: 471px) {
    h1 {
        font-size: 27px;
        & .top-akcent {
            top: -3%;
        }
        & .akcent {
            top: 18%;
        }
    }
    .intro-box {
        a {
            font-size: 14px;
            width: 200px;
            height: 45px;
        }
        & .glass-icon {
            bottom: -30%; 
        } 
    }
    .wr-slider {
        & .slider-bg {
            &::after {
            width: 110%; 
            }  
        }  
    }
    .swiper-container {
        & .swiper-pagination-bullets {
            bottom: 53%;
        }
    } 
    
    .image-bg {
        width: 58%;
    }                                
}
@media all and (max-width: 460px) {
    h1 {
        & .top-akcent {
            right: -1%;
        }
        & .akcent {
            left: 3%;
        }
    } 
    .preview {
        & .description {
            padding: 10px 20px;
            h4 {
                font-size: 14px;
            }
            p {
                font-size: 13px;
            }
            & .close-btn {
                width: 12px;
                height: 12px;
            }
        }
    }            
}
@media all and (max-width: 432px) {
    h1 {
        & .top-akcent {
            top: 14%;
            right: 28%;
        }
        & .akcent {
            width: 150px;
            top: 33%;
            left: 2%;
        }
    } 
    .section-title {
        font-size: 25px;
        text-align: center;
    }
    .section-subtitle {
        font-size: 15px;
    }
    .image-bg {
        width: 65%;
        &::after {
            width: 135%;
        }
    }
    .characteristic-slider {
        & .slick-prev {
            left: 36%;
        } 
        & .slick-next {
            right: 36%;
        } 
    }    
}
@media all and (max-width: 424px) {
    .intro-box {
        & .glass-icon {
            bottom: -22%; 
        } 
    }   
    .wr-slider {
        & .slider-bg {
            & .slide-preview {
                width: 333px;
                height: 410px;
            }
        }
    }
    .swiper-container {
        & .swiper-pagination-bullets {
            bottom: 52%;
        }
    }  
    .section-workers {
        & .worker-feedback {
            width: 60%;
            left: 20%;
            bottom: 20px;
        }
    }
    .form .main-form button {
        font-size: 16px;
        width: 190px;
    }            
}
@media all and (max-width: 385px) {
    h1 {
        margin-bottom: 8vh;
        & .top-akcent {
            top: 12%;
            right: 25%;
        }
        & .akcent {
            top: 31%;
            left: -2%;
        }
    }
    .wr-slider {
        & .slider-bg {
            & .slide-preview {
                width: 295px;
                height: 370px;
            }
        }
    }
    .swiper-container {
        & .swiper-pagination-bullets {
            bottom: 57%;
        }
    }  
    
    .image-bg {
        width: 77%;
    }
    .section-workers {
        & .worker-feedback {
            width:80%;
            left: 10%;
            bottom: 20px;
        }
    }
    .characteristic-slider {
        & .slick-dots {
            bottom: 46%;
        } 
        & .slick-prev {
            left: 34%;
        } 
        & .slick-next {
            right: 34%;
        } 
    }
    .slide-description {
        width: 95%;
    } 
    .description-content {
        & .worker-about {
            flex-direction: column;
        }
        & .worker-name {
            font-size: 14px;
            margin-bottom: 5px;
        }
        & .worker-position {
            font-size: 11px;
        }
        .worker-description {
            font-size: 13px;
        }
    } 
}
@media all and (max-width: 370px) {
    h1 {
        & .top-akcent {
            right: 24%;
        }
        & .akcent {
            top: 28%;
            left: 27%;
        }
    } 
   
    .preview {
        & .description {
            p {
                font-size: 12px;
            }
        }
    }             
}
@media all and (max-width: 340px) {
    .header {
        & .logo {
            display: block;
            text-align: center;
            padding-top: 5px;
        }
        span {
            font-size: 21px;
        }
    }
    .intro-box {
        & .glass-icon {
            height: 50px;
            width: 45px;
            bottom: -10%; 
            right: 5px;
        } 
    }
    .swiper-container {
        & .swiper-pagination-bullets {
            bottom: 64%;
        }
    } 
    .image-bg {
        width: 90%;
    }
    .characteristic-slider { 
        & .slick-dots {
            bottom: 47%;
        }
        & .slick-prev {
            left: 30%;
        } 
        & .slick-next {
            right: 30%;
        } 
    }
}

@media all and (max-width: 320px) {
    h1 {
        & .top-akcent {
            right: 20%;
        }
        & .akcent {
            top: 28%;
            left: 23%;
        }
    } 
    .swiper-container {
        & .swiper-pagination-bullets {
            bottom: 63%;
        }
    } 
    .wr-slider {
        & .slider-bg {
            & .slide-preview {
                width: 235px;
                height: 300px;
            }
        }
        & .our-description h4 {
            text-align: center;
        }                   
    }  
}