@font-face {
    font-family: 'MontserratReg';
    src: local("Montserrat-Regular"),
         url('../../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../../fonts/Montserrat-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MontserratBold';
    src: local('Montserrat-Bold'),
         url('../../fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../../fonts/Montserrat-Bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MerriReg';
    src: local("Merriweather-Regular"),
         url('../../fonts/merriweather-regular-webfont.woff2') format('woff2'),
         url('../../fonts/Merriweather-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MerriBold';
    src: local("Merriweather-Bold"),
         url('../../fonts/merriweather-bold-webfont.woff2') format('woff2'),
         url('../../fonts/Merriweather-Bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RalewayReg';
    src: local("Raleway-Regular"),
         url('../../fonts/Raleway-Regular.woff2') format('woff2'),
         url('../../fonts/Raleway-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RalewayMedium';
    src: local("Raleway-Medium"),
         url('../../fonts/Raleway-Medium.woff2') format('woff2'),
         url('../../fonts/Raleway-Medium.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}