@import "_normalize";
@import "_fonts";
@import "_settings";


/*section wr-home*/
.wr-home {
    background-color: #eff0f2;
    position: relative;
    z-index: 10;
    height: 100vh;
    header {
        padding-top: 55px;
        padding-bottom: 55px;
            & .container-custom {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
                       
            & .logo {
                font-family: "MontserratBold", sans-serif;    
                font-weight: 900;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: #000;
                width: 112px;
                height: 48px;  
                display: flex;
                align-items: center;
                justify-content: center;                              
                border: 6px solid #000;
                box-sizing: border-box;         
            } 
            span {
                font-family: "MontserratBold", sans-serif;
                font-size: 23px;
                color: #76f4ea;
                padding-bottom: 5px;
            }

            /**menu burger**/
            & .menu-burger{
                display: block;                
            }
            & .menu-btn {
                width: 30px;
                height: 30px;
                border: none;
                position: fixed;
                top: 75px;
                right: 70px;
                cursor: pointer;
                padding: 0;
                z-index: 50;
                background-color: transparent;
                &:focus {
                    outline: none;
                }
            }
            
            & .menu-btn-lines {
                display: block;
                width: 100%;
                height: 4px;
                position: absolute; 
                transition-duration: 0.5s;                              
                padding-bottom: 0;
                background-color: #505050;
                    &::after,
                    &::before {
                    content: "";
                    display: block;
                    position: absolute;                                        
                    width: 100%;
                    height: 4px;
                    transition-duration: 0.5s;
                    background-color:  #505050;
                }
                &::after {
                    content: "";
                    top: 8px;
                }
                &::before {
                    content: "";
                    top: -8px;
                }                        
            }

            & .menu-btn-active {                   
                background-color: transparent;
                &::before {
                    content: ""; 
                    top: 0;                          
                    transform: rotate(45deg);                  
                }
                &::after {
                     content: "";  
                     top: 0;                                              
                     transform: rotate(-45deg);
                }                   
            } 

            nav {
                display: block;                
                & .menu-box {
                    display: block;
                    width: 30%;
                    height: 100%;
                    position: fixed;
                    top: 0;
                    right: -100%;
                    text-align: center;
                    margin: 0;
                    padding-top: 100px;
                    background-color: #eff0f2;
                    transition-duration: 0.5s;
                    z-index: 40;
                }
                
                & .menu-show{
                    right: 0;
                }
            }            
            nav li {
                font-size: 26px;
                list-style-type: none;
                margin-top: 30px;
                margin-bottom: 30px;               
            } 
            nav .menu-item {
                display: block;
                transition-duration: 0.5s;
                font-weight: 600;
                color: #505050;
            }
            nav .menu-item:hover {
                opacity: 0.7;                
            }         
            
    }
    
    .wr-intro {
        margin-top: 16vh;        
            & .container-custom {
                display: flex;    
                flex-direction: column;
                align-items: center;
                position: relative;
            }    
            p { 
                font-family: "MontserratBold", sans-serif;    
                font-weight: 800;
                font-size: 45px;
                text-transform: uppercase;
                letter-spacing: 2px;
                text-shadow: 6px 8px 8px #C2C2C2;        
                margin-bottom: 10px;
                margin-top: 0;
                color: #505050;
                &::before {
                    content: "";
                    width: 22%;
                    height: 55px;
                    position: absolute;
                    top: 5px;
                    right: 265px;
                    z-index: -5;
                    background-color: #b2f2ee;
                }
                
            }                         
            a {
                font-family: "MontserratReg", sans-serif;
                font-weight: 600;
                letter-spacing: 3px;    
                text-transform: uppercase;
                width: 230px;
                height: 55px;
                display: flex;
                align-items: center;
                justify-content: center;  
                color: #3c3c3d;
                border: 3px solid #777879;
                box-sizing: border-box;                   
                &:hover {
                    box-shadow: 0 0 10px #777879;
                }
            }
            
            & .glass-icon {
                position: absolute; 
                overflow: hidden;             
                height: 85px;
                width: 75px;
                bottom: -50px;
                right: 110px; 
            }        
    }
}

/*section wr-about-us*/
.wr-about-us {
    padding-top: 92px;
    padding-bottom: 100px;    
    background-color: #f8fafa; 
     
    & .about-us-content {
        display: flex;
        align-items: baseline;
        justify-content: space-around;
        position: relative;               
                
        & .description {
            max-width: 50%;            
            padding-left: 100px;
            box-sizing: border-box;    
        }
     
        h3, h4 {
            font-family: "MerriBold", serif;
            text-transform: uppercase;                      
        }
        h3{
            font-size: 18px;
            letter-spacing: 2px;
            word-spacing: 5px;
            margin-top: 5px; 
        }
        h4 {
            font-size: 17px;
            letter-spacing: 1px;
            word-spacing: 1px;
            box-sizing: border-box;
            padding-top: 15px;
            margin-bottom: 10px;    
        }
        p {
            font-family: "RalewayReg", sans-serif;
            line-height: 30px;
            letter-spacing: 1px;            
        }

        & .wr-slider {
            width: 34.5%;            
        }
        & .slider-bg {
            width: 100%;                    
            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 35px;
                left: 35px;
                width: 478px;
                height: 412px;
                background-color: #eff0f2;             
            }
        }
        & .slider {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 100%;
            left: 35px;
            bottom: 20px;
            z-index: 10;            
            box-shadow: 0px 0px 20px #e4e5e8;            
        }        
        & .slide-preview {
            width: 393px;
            height: 483px;
            overflow: hidden;
        }        
    }
    & .slick-dots {
        bottom: -60px;
        li {
            width: 10px;
            height: 10px;
            margin: 0 2px;
            background-color: #d0d0d0;
            border-radius: 30%;
                &:hover {
                    background-color: #71f6eb;
                }
            button {
                &::before{
                    opacity: 0; 
                }
            }
                      
        }
    }
}

/*section wr-works*/
.wr-works {    
    padding-top: 92px;
    padding-bottom: 100px; 
    & .wr-title {
        margin-bottom: 105px;
        p {
            letter-spacing: 1px;
        }
    }
    & .gallery-works {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        & .work {
            max-width: 375px;
            height: 360px;
            overflow: hidden;
            margin-bottom: 10px;

            a:hover {
                opacity: 0.7;
            }
        }
    }
}

/*section wr-services*/
.wr-services {
    padding-top: 92px;
    padding-bottom: 100px; 
    & .wr-title {
        margin-bottom: 105px;
        p {
            letter-spacing: 1px;
        }
    }
    & .services-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;      
         
        & .wr-preview {
            margin-bottom: 10px;
            position: relative;
            z-index: 5;
            &::after {
                content: '';
                position: absolute; 
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;               
                background-color: rgba(0,0,0,.4);
                z-index: -5;
            }
            &:hover .wr-description {
                display: block;
            }
            h3 {
                font-family: "MerriBold", serif;
                font-size: 20px;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: #f9fbfb;
            } 
            p {
                font-family: "RalewayReg", sans-serif;
                font-size: 16px;
                letter-spacing: 1px;
                color: #f9fbfb;
                line-height: 1.5;            
            } 
            a {
                font-family: "RalewayMedium", sans-serif;
                font-size: 18px;
                text-transform: uppercase; 
                letter-spacing: 1px;           
                color: #f9fbfb;
            }               
            svg {
                height: 14px;
                fill: #fff;
                margin-left: 20px;
            }
        }

        & .service-preview1,
        & .service-preview3,
        & .service-preview6 {          
           max-width: 653px;           
        }  
           
        & .service-preview2,
        & .service-preview4,
        & .service-preview5 {         
            max-width: 472px;            
        }           
        
        & .service-preview1 {
            height: 420px;
            background-image: url("../../media/image/services/service1.jpg");
            background-position: bottom center;
            background-color: #fff;            
        }
        & .service-preview2 {
            height: 420px;
            background-image: url("../../media/image/services/service2.jpg");
            background-position: bottom center;
            background-color: #fff;            
        }
        & .service-preview3 {
            height: 370px;
            background-image: url("../../media/image/services/service3.jpg");
            background-position: bottom center;
            background-color: #fff;            
        }
        & .service-preview4 {
            height: 370px;
            background-image: url("../../media/image/services/service4.jpg");
            background-size: cover;
            background-position: bottom center;
            background-color: #fff;           
        }
        & .service-preview5 {
            height: 370px;
            background-image: url("../../media/image/services/service5.jpg");
            background-position: bottom center;
            background-color: #fff;           
        }
        & .service-preview6 {
            height: 370px;
            background-image: url("../../media/image/services/service6.jpg");            
            background-position: bottom center;
            background-color: #fff;           
        }

        & .service-information1, 
        & .service-information2 {
            padding-top: 160px;            
            padding-left: 65px;            
        }
        & .service-information1{
            padding-right: 140px;
            p {
                margin-bottom: 50px;
            }
        }
        & .service-information2{
            padding-right: 70px;
            p {                
                margin-bottom: 50px;
            }
        }
        & .service-information3,
        & .service-information6 {
            padding-right: 140px;
        }
        & .service-information3, 
        & .service-information4 {
            padding-top: 145px;            
            padding-left: 65px; 
            p {
                margin-bottom: 45px;
            }           
        }
        & .service-information4 {
            padding-right: 70px;
        }
        & .service-information5 {
            padding-right: 115px;
        }

        & .service-information5, 
        & .service-information6 {
            padding-top: 115px;           
            padding-left: 65px;
            p {
                margin-bottom: 55px;
            }            
        }

        & .wr-description {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;   
            padding-left: 65px;
            padding-top: 30px;          
            background-color: #6df6eb;
            display: none;
            p {
                color: #000;
                line-height: 1.7;                
            }
            h4 {
                font-family: "MerriBold", serif;
                font-size: 20px;
                text-transform: uppercase;
                letter-spacing: 1px;
                word-spacing: 2px;
                margin-bottom: 30px;
                color: #000;
            }             
        }

        & .service-description1,
        & .service-description3,
        & .service-description6 {          
           max-width: 653px;
           padding-right: 100px;                
        }  
           
        & .service-description2,
        & .service-description4,
        & .service-description5 {         
            max-width: 472px; 
            padding-right: 50px;            
        }        
                   
        & .close-btn {            
            width: 20px;
            height: 20px;
            border: none;
            position: absolute;
            bottom: 55px;               
            cursor: pointer;
            padding: 0;                
            background-color: transparent;
        }

        & .close-btn-line {
            display: block;
            width: 100%;
            height: 2px; 
            position: relative;                                                          
            padding-bottom: 0;
            background-color: transparent;
                &::after,
                &::before {
                content: "";
                display: block;                                                       
                width: 100%;
                height: 2px;
                position: absolute;
                background-color:  #505050;                                                     
            }
            &::after {
                content: "";
                transform: rotate(45deg);
            }
            &::before {
                content: "";
                transform: rotate(-45deg);                
            } 
        }          
     
    }
}

